# Suffling and Dividing the data into train and test split

#### This has no relation with the last file code

##### Load the data

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv(r"D:\Main tutorials Sunbeam\IIT-08-A-DS\Day_03\Day_03_2\code\hearing_test.csv")
df.head()

    age  physical_score  test_result
0  33.0            40.7            1
1  50.0            37.2            1
2  52.0            24.7            0
3  56.0            31.0            0
4  35.0            42.9            1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             5000 non-null   float64
 1   physical_score  5000 non-null   float64
 2   test_result     5000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 117.3 KB

#### spliting the data into x and y

In [4]:
x = df.drop('test_result' , axis=1)

y = df['test_result']

#### spliting the data into tarin and testing form

In [ ]:
x_train , x_test , y_train , y_test = train_test_split(x , y , train_size=0.8 , random_state=123456) # random state takes the data randomly from the dataset for 123456 times after this it repeates the same steps again and again

In [7]:
print(f"The training data is : \n{x_train}")
print()
print(f"The testing data is : \n{x_test}")

The training data is :
       age  physical_score
448   38.0            43.0
75    82.0            19.4
1774  41.0            42.3
1725  58.0            24.2
1889  45.0            36.0
...    ...             ...
2799  60.0            21.2
171   44.0            28.3
3640  46.0            40.0
3121  47.0            38.1
4594  50.0            33.6

[4000 rows x 2 columns]

The testing data is :
       age  physical_score
4158  46.0            38.1
2117  47.0            35.1
3328  49.0            37.0
4813  40.0            37.7
4176  35.0            42.0
...    ...             ...
2375  38.0            40.0
339   49.0            38.9
2090  33.0            40.8
867   47.0            40.6
3977  38.0            40.6

[1000 rows x 2 columns]